.sortTags {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  cursor: pointer;
  display: flex;
  margin-bottom: 1em;
  margin-right: 1em;
}

.tag:hover .tagName {
  background-color: var(--blog-blue-100);
}

.activeTag {
  background-color: var(--blog-blue-100);
}

.tagName {
  display: flex;
  padding: 0.25em 0.5em;
  border: 1px solid var(--blog-white);
  color: var(--blog-white);
  border-top-left-radius: var(--blog-border-radius);
  border-bottom-left-radius: var(--blog-border-radius);
}

.tagCount {
  background-color: var(--blog-gray);
  display: flex;
  padding: 0.25em 0.5em;
  border: 1px solid var(--blog-gray);
  color: var(--blog-dark);
  border-top-right-radius: var(--blog-border-radius);
  border-bottom-right-radius: var(--blog-border-radius);
}
