---
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
import Wrapper from "../layouts/Wrapper.astro";
---

<Layout title="Welcome to Astro.">
  <Wrapper
    ><a href="/" style=" width:55%"
      ><h1 style="color: var(--blog-blue);">Svetozar Gospodinov Blog</h1>
    </a>
    <Home />
  </Wrapper>
</Layout>
