---
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <a href="/"
    ><h1 style="color: hsl(200, 100%, 50%); width:55%">
      Svetozar Gospodinov Blog
    </h1>
  </a>
  <Home />
</Layout>
