---
import Home from "../components/Home";
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Welcome to Astro.">
  <h1 style="color: hsl(200, 100%, 50%);">Svetozar Gospodinov Blog</h1>
  <Home allPosts={allPosts} />
</Layout>
