---
import Home from "../components/solidComponents/Home/Home";
import Layout from "../layouts/Layout.astro";
import Wrapper from "../layouts/Wrapper.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

allPosts.sort((a, b) => {
  const value1 = a.frontmatter.tags[0];
  const value2 = b.frontmatter.tags[0];
  if (value1 < value2) {
    return -1;
  }
  if (value1 > value2) {
    return 1;
  }

  // names must be equal
  return 0;
});
---

<Layout title="Welcome to Astro.">
  <Wrapper
    ><a href="/" style=" width:55%"
      ><h1 style="color: var(--blog-blue);">Svetozar Gospodinov Blog</h1>
    </a>
    <Home client:only="solid-js" allPosts={allPosts} />
  </Wrapper>
</Layout>
