.text {
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
}
.container > * {
  color: var(--blog-white);
}
a {
  color: var(--blog-white);
}
p {
  color: var(--blog-gray);
}

.readMore {
  color: var(--blog-blue);
}
