---
import { formatDate } from "../utils/formatDate";
import Post from "./Post.astro";
import Search from "./Search.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
function areEqual(arr1: any[], arr2: any[]) {
  let N = arr1.length;
  let M = arr2.length;
  if (N != M) return false;
  arr1.sort();
  arr2.sort();
  for (let i = 0; i < N; i++) if (arr1[i] != arr2[i]) return false;
  return true;
}

allPosts.sort((a, b) => {
  const value1 = a.frontmatter.tags[0];
  const value2 = b.frontmatter.tags[0];
  if (value1 < value2) {
    return -1;
  }
  if (value1 > value2) {
    return 1;
  }

  // names must be equal
  return 0;
});
---

<div>
  <Search />
  <main id="posts">
    {
      allPosts.map((post) => {
        const result = formatDate(post.frontmatter.pubDate);
        return (
          <Post
            date={result}
            summary={post.frontmatter.description}
            tags={post.frontmatter.tags}
            title={post.frontmatter.title}
            url={post.url as string}
          />
        );
      })
    }
  </main>
</div>
