---
import { formatDate } from "../utils/formatDate";
import Post from "./Post.astro";
import Search from "./Search.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<div>
  <Search />
  <main id="posts">
    {
      allPosts.map((post) => {
        const result = formatDate(post.frontmatter.pubDate);
        return (
          <Post
            date={result}
            summary={post.frontmatter.description}
            tags={post.frontmatter.tags}
            title={post.frontmatter.title}
            url={post.url as string}
          />
        );
      })
    }
  </main>
</div>
