<div>
  <label for="search">Search</label>
  <input id="search" type="search" />
</div>
<style>
  label {
    color: var(--blog-white);
  }
  #search {
    width: 100%;
    padding: 0.5em 0.5em;
    background-color: var(--blog-gray-100);
    color: var(--blog-white);
    border: 1px solid var(--blog-gray);
    border-radius: var(--blog-border-radius);
  }
</style>

<script>
  const search = document.getElementById("search") as HTMLInputElement;

  const handleSearch = () => {
    const posts = document.getElementById("posts");
    const filter = search?.value.toUpperCase();
    console.log(filter);
    if (!posts) return;
    const postsLength = posts.childElementCount;
    const articles = posts.getElementsByTagName("article");
    for (let i = 0; i < postsLength; i++) {
      const a = articles[i].getElementsByTagName("a")[0].children[0];
      const txtValue = a.textContent || "";
      const post = posts.getElementsByTagName("article");
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        post[i].style.display = "";
      } else {
        post[i].style.display = "none";
      }
    }
  };
  search.addEventListener("input", handleSearch);
</script>
